<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <div class="w3-right w3-hide-small">
        <a class="w3-bar-item w3-button" [matMenuTriggerFor]="menu">Кабинет админа</a>
        <mat-menu #menu="matMenu">
          <a [routerLink]="['/admin/cabinet/banks']" class="w3-bar-item w3-button">Банки-партнеры</a>
          <a [routerLink]="['/admin/cabinet/requests']" class="w3-bar-item w3-button">Запросы на сотрудничество</a>
          <a [routerLink]="['/admin/cabinet/survey']" class="w3-bar-item w3-button">Конструктор анкет</a>
          <a [routerLink]="['/admin/cabinet/limits']" class="w3-bar-item w3-button">Конструктор ограничений</a>
          <a [routerLink]="['/admin/cabinet/manage']" class="w3-bar-item w3-button">Мои анкеты</a>
          <a [routerLink]="['/admin/cabinet/messages']" class="w3-bar-item w3-button">Сообщения пользователя</a>
        </mat-menu>
        <a [routerLink]="['/admin/structure']" class="w3-bar-item w3-button">Структура</a>
        <a [routerLink]="['/admin/statistics']" class="w3-bar-item w3-button">Статистика</a>
      </div>
    <div class="w3-full-right w3-hide-small">
      <a [routerLink]="['/login']" class="w3-bar-item w3-button">Выход</a>
    </div>
    </div>
  </div>





