
<app-admin-office></app-admin-office>

<div style="margin-top: 60px; text-align: center">
  <h3>Запросы на сотрудничество</h3>
</div>

<div style="margin-top: 80px; text-align: center">
  <h3>Запросов на сотрудничество нет</h3>
</div>

<div class="w3-container w3-padding-32" style="margin-top: 15px">
  <div class="container row">
    <div class="table" >
      <table class="table table-striped">
        <thead class="nowrap">
        <tr>
          <th>Отправитель</th>
          <th>Тема</th>
          <th>Комментарий</th>
          <th>Email</th>
          <th>Телефон</th>
          <th>Статус</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let message of messages">
          <td>{{message.senderName}}</td>
          <td>{{message.subject}}</td>
          <td>{{message.comment}}</td>
          <td>{{message.email}}</td>
          <td>{{message.phone}}</td>
          <td>{{message.status}}</td>

          <div class="container row ">
            <div class="col-md-2">
              <td><button  (click)="sendResponse(true)"  class="btn btn-primary">Принять</button></td>
            </div>
          </div>
          <div class="container row ">
            <div class="col-md-2">
              <td><button (click)="sendResponse(false)"   class="btn btn-primary">Отклонить</button></td>
            </div>
          </div>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #loading>
  <mat-spinner class="loader-container"></mat-spinner>
</ng-template>
