
<!--<div *ngIf="question">-->
<div class="container">

  <form #f="ngForm" novalidate>

  <div class="float-left" [ngSwitch]="question.type">

    <div *ngSwitchCase="'BOOLEAN'">

      <div class="form-group">
        <label>{{question.text}}</label>
        <div class="radio" *ngFor="let x of question.answers; let i = index">
          <label>
            <input type="radio" name="answer" [checked]="0" [(ngModel)]="x.value" [value]="x.value" (change)="changeDetector(question.id, x.id)">
            {{x.value}}
          </label>
        </div>
      </div>

    </div>

    <div *ngSwitchCase="'MULTI_CHOICE_MULTI'">

      <div class="form-group">
        <label>{{question.text}}</label>
        <div class="checkbox" *ngFor="let x of question.answers; let i = index" >
            <input type="checkbox" name="checkboks" [checked]="checked[i]"   [(ngModel)]="checked[i]" [value]="question.answers[i].value" (change)="changeDetector(question.id, x.id)">
            {{question.answers[i].value}}
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'MULTI_CHOICE_SINGLE'">

      <div class="form-group">
        <label>{{question.text}}</label>
        <div class="radio" *ngFor="let x of question.answers; let i = index" >
          <input type="radio" name="checkboks" [checked]="checked[i]"   [(ngModel)]="checked[i]" [value]="question.answers[i].value" (change)="changeDetector(question.id, x.id)">
          {{question.answers[i].value}}
        </div>
      </div>
    </div>

    <div style="width: 100%" *ngSwitchCase="'LONG_ANSWER'">
      <!--<mat-form-field *ngIf="!readonly">-->
                <!--<textarea  cdkTextareaAutosize-->
                           <!--cdkAutosizeMinRows="2"-->
                           <!--cdkAutosizeMaxRows="15"-->
                          <!--matInput-->
                           <!--rows="8" cols="40"-->
                          <!--[disabled]="readonly"-->
                          <!--[(ngModel)]="question"-->
                          <!--required>-->
                <!--</textarea>-->
      <!--</mat-form-field>-->
      <div class="md-form">
        <i class="fas fa-pencil-alt prefix grey-text"></i>
        <label for="form107">{{question.text}}</label>
        <textarea type="text" id="form107" class="md-textarea form-control" rows="5" cols="50" mdbInput></textarea>
      </div>
      <div *ngIf="readonly" class="long-answer-readonly"></div>
    </div>
    </div>
  </form>
  <div class="float-right" *ngIf="edit && editableForUser">
    <button (click)="editQuestion($event)"  class="btn btn-primary">Править</button>
    <button (click)="removeQuestion($event,question.id)"  class="btn btn-danger">Удалить</button>
  </div>
</div>


