
<!--<div *ngIf="question">-->
<div class="container">

  <form #f="ngForm" novalidate>

  <div class="float-left" [ngSwitch]="question.type">

    <div *ngSwitchCase="'BOOLEAN'">

      <div class="form-group">
        <label>{{question.text}}</label>
        <div class="radio" *ngFor="let x of question.answers; let i = index">
          <label>
            <input type="radio" name="answer" [checked]="0" [(ngModel)]="x.value" [value]="x.value" (change)="changeDetector(question.id, x.id)">
            {{x.value}}
          </label>
        </div>
      </div>

    </div>

    <div *ngSwitchCase="'MULTI_CHOICE_MULTI'">

      <div class="form-group">
        <label>{{question.text}}</label>
        <div class="checkbox" *ngFor="let x of question.answers; let i = index" >
            <input type="checkbox" name="checkboks" [checked]="checked[i]"   [(ngModel)]="checked[i]" [value]="question.answers[i].value" (change)="changeDetector(question.id, x.id)">
            {{question.answers[i].value}}
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'MULTI_CHOICE_SINGLE'">

      <div class="form-group">
        <label>{{question.text}}</label>
        <div class="checkbox" *ngFor="let x of question.answers; let i = index" >
          <input type="checkbox" name="checkboks" [checked]="checked[i]"   [(ngModel)]="checked[i]" [value]="question.answers[i].value" (change)="changeDetector(question.id, x.id)">
          {{question.answers[i].value}}
        </div>
      </div>
    </div>

    </div>
  </form>
  <div class="float-right" *ngIf="edit && editableForUser">
    <button (click)="editQuestion($event)"  class="btn btn-primary">Править</button>
    <button (click)="removeQuestion($event,question.id)"  class="btn btn-danger">Удалить</button>
  </div>
</div>


