<app-user></app-user>
<div style="margin-top: 65px" *ngIf="survey.name; else loading;">
  <div class="card" *ngIf="survey.name">
    <h3 class="card-header">{{survey.name}}</h3>
    <div class="card-body" *ngFor="let q of survey.questions; index as i">
      <app-questions-by-type
        [readonly]=false
        [question]="q"
        [edit]=true
        [editableForUser]=false
        (questionEvent)="showEvent($event, q)"
      ></app-questions-by-type>
    </div>

    <div class="clearfix">
      <div class="float-right">
        <button class="mr-1" mat-raised-button color="primary" (click)="submit()">Отправить</button>
        <a routerLink="/" mat-raised-button color="warn">Отмена</a>
      </div>
    </div>
    <br/>

  </div>
</div>

<ng-template #loading>
    <mat-spinner class="loader-container"></mat-spinner>
</ng-template>
