<div *ngIf="survey; else loading;">
    <div class="card" *ngIf="survey">
        <h3 class="card-header">{{survey.name}}</h3>
        <!--<div class="clearfix">-->
            <!--&lt;!&ndash;<i class="mr-3 float-right">&ndash;&gt;-->
                <!--&lt;!&ndash;Submitted by {{questionnaire.submittedBy}} on {{questionnaire.date }} at {{questionnaire.date | date:'mediumTime'}}&ndash;&gt;-->
            <!--&lt;!&ndash;</i>&ndash;&gt;-->
        <!--</div>-->
        <div class="card-body" *ngFor="let q of survey.questions">
            <p class="card-text">{{q.text}}</p>
            <app-questions-by-type [readonly]="1" [question]="q"></app-questions-by-type>
        </div>
    </div>
</div>
<ng-template #loading>
    <mat-spinner class="loader-container"></mat-spinner>
</ng-template>
