<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">

    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a [routerLink]="['/user/survey']" class="w3-bar-item w3-button">Моя анкета</a>
      <a [routerLink]="['/user/scoring']" class="w3-bar-item w3-button">Баллы</a>
      <!--<a [routerLink]="['/admin/statistics']" class="w3-bar-item w3-button">Статистика</a>-->
    </div>
    <div class="w3-full-right w3-hide-small">
      <a [routerLink]="['/login']" class="w3-bar-item w3-button">Выход</a>
    </div>
  </div>
</div>



