<app-admin-office></app-admin-office>
<h3 style="margin-top: 75px; text-align: center">Конструктор ограничений аудитории опроса</h3>
<div style="margin-left: 200px; margin-right: 400px">
  <form [formGroup]="limitForm">

    <div class="form-group row">
      <label for="anketa" class="col-sm-2 col-form-label"> Анкета:</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="anketa" [(ngModel)]="surveyOption" (change)="getSurveyChosen(surveyOption.name)">
          <option [value]="s.id" *ngFor="let s of surveys" >{{s.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="region" class="col-sm-2 col-form-label"> Область:</label>
      <div class="col-sm-10">
          <select class="form-control" formControlName="region" [(ngModel)]="selectedOption" (change)="getRegionChosen(selectedOption)">
            <option [value]="region" *ngFor="let region of regions" >{{region}}</option>
          </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="gender" class="col-sm-2 col-form-label">Пол:</label>
      <div *ngFor="let g of gender">
          <div class="col-sm-10" style="margin-left: 5px">
              <input type="checkbox" name="ageGroup"  [value]="g" (change)="getGenderChosen(g, $event)">
              {{g }}
           </div>
        </div>
    </div>


    <div class="form-group row">
      <label for="ageGroup" class="col-sm-2 col-form-label">Возрастная группа:</label>
      <div *ngFor="let ageGroup of ageGroups">
        <div class="col-sm-10" style="margin-left: 20px">
        <input type="checkbox" name="ageGroup" [checked]="isChecked"  [value]="ageGroup" (change)="getAgeGroupsChosen(ageGroup, $event)">
        {{ageGroup}}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="surveysCount">Количество анкет</label>
      <input type="text" formControlName="surveysCount" class="form-control"/>
    </div>

    <div class="form-group row">
      <div class="form-group ">
        <div class="col-md-6">
          <button (click)="saveLimits()"  class="btn btn-primary">Сохранить</button>
        </div>
      </div>
    </div>
  </form>
</div>


<div style="padding: 10px" fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="20%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID анкеты </th>
    <td mat-cell *matCellDef="let element"> {{element.id}}</td>
  </ng-container>
  <ng-container matColumnDef="region">
    <th mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> Область </th>
    <td mat-cell fxFlex="100px" *matCellDef="let element"> {{element.region}}</td>
  </ng-container>

  <ng-container matColumnDef="surveyName">
    <th mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> Анкета </th>
    <td mat-cell fxFlex="100px" *matCellDef="let element"> {{element.surveyName}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> Пол </th>
    <td mat-cell fxFlex="100px" *matCellDef="let element"> {{element.gender.toString()}} </td>
  </ng-container>

  <ng-container matColumnDef="ageRange">
    <th mat-header-cell fxFlex="100px" *matHeaderCellDef mat-sort-header> Возрастная группа </th>
    <td mat-cell fxFlex="100px" *matCellDef="let element"> {{element.ageRange.toString()}} </td>
  </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell  *matHeaderCellDef mat-sort-header> Колличество анкет </th>
    <td mat-cell  *matCellDef="let element"> {{element.count}} </td>
  </ng-container>

  <ng-container matColumnDef="matchedUsersCount">
    <th mat-header-cell  *matHeaderCellDef mat-sort-header> Целевая аудитория (человек) </th>
    <td mat-cell  *matCellDef="let element"> {{element.matchedUsersCount}} </td>
  </ng-container>

  <!--<ng-container matColumnDef="status">-->
    <!--<th mat-header-cell *matHeaderCellDef mat-sort-header> Целевая аудитория (человек) </th>-->
    <!--<td mat-cell *matCellDef="let element"> test </td>-->
  <!--</ng-container>-->


  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Детали </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" >
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> Корректировать </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent" >
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Удалить лимит </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)" >
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>


