
<app-admin-office></app-admin-office>


<div style="margin-top: 60px; text-align: center">
  <h3>Организационная структура</h3>
</div>



<div class="w3-container w3-padding-32">


  <div class="container row">
  <div class="table" >
    <table class="table table-striped">
      <thead class="nowrap">
      <tr>
        <th >ФИО</th>
        <th>Адрес</th>
        <th >Телефон</th>
        <th>Email</th>
        <th>Статус</th>
        <th>Документы</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let user of users">
        <td>{{ user.name }} {{ user.middleName }} {{ user.surname }}</td>
        <td>{{ user.address.oblast }} область {{ user.address.city }} {{user.address.street}} дом {{user.address.buildingNum}} квартира {{user.address.apartmentNum}}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.deleted ? 'Заблокирован' : 'Активен' }} </td>
        <td> <a href="http://localhost:8080/users/user/{{user.id}}/document" (click)="download(user)">ФОТО</a>  <br/>
          <a href="http://localhost:8080/users/user/{{user.id}}/document" (click)="download(user)">ФОТО ИНН</a> </td>



          <div class="container row ">
            <div class="col-md-3">
              <td><button  (click)="showEditForm(editUserTemplate,user)" class="btn btn-primary">Редактировать</button></td>
            </div>
          </div>
        <div class="container row ">
            <div class="col-md-1">
              <td><button (click)="deleteUser(user)" class="btn btn-danger">{{!user.deleted ? 'Заблокировать   ' : 'Разблокировать   '}}</button></td>
            </div>
          </div>
      </tr>
      </tbody>
    </table>
  </div>

</div>





<ng-template #editUserTemplate>
<div class="container row" >
  <h2 style="text-align: center">Редактировать пользователя</h2>
  <div class="container">
    <form [formGroup]="editUserForm">

      <div class="form-group">
        <label for="middleName">Фамилия</label>
        <input [(ngModel)]="user.middleName" type="text" formControlName="middleName" class="form-control" />
      </div>

      <div class="form-group">
        <label for="oblast">Область</label>
        <input [(ngModel)]="user.address.oblast" type="text" formControlName="oblast" class="form-control"  />
      </div>

      <div class="form-group">
        <label for="city">Город</label>
        <input [(ngModel)]="user.address.city" type="text" formControlName="city" class="form-control"  />
      </div>

      <div class="form-group">
        <label for="street">Улица</label>
        <input [(ngModel)]="user.address.street" type="text" formControlName="street" class="form-control"  />
      </div>

      <div class="form-group">
        <label for="buildingNum">Дом</label>
        <input [(ngModel)]="user.address.buildingNum" type="text" formControlName="buildingNum" class="form-control"  />
      </div>

      <div class="form-group">
        <label for="apartmentNum">Квартира</label>
        <input [(ngModel)]="user.address.apartmentNum"type="text" formControlName="apartmentNum" class="form-control"  />
      </div>

      <div class="form-group">
        <label for="phone">Телефон</label>
        <input [(ngModel)]="user.phone" type="text" formControlName="phone" class="form-control"  />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="user.email" type="text" formControlName="email" class="form-control"  />
      </div>


      <div class="form-group row">
        <div class="col-md-3">
          <button (click)="editUser(user)"  class="btn btn-primary">Сохранить</button>
        </div>
        <div class="col-md-3">
          <button (click) = "hideEditForm()" class="btn btn-danger">Отмена</button>
        </div>
      </div>
    </form>
  </div>
</div>
</ng-template>

